* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-flow: column;
  font-family: "Crimson Text", serif;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #194350;
  padding: 1em 4em;
  margin-bottom: 2em;
  -webkit-box-shadow: 0 5px 6px -2px rgb(116, 116, 116);
  -moz-box-shadow: 0 5px 6px -2px rgb(116, 116, 116);
  box-shadow: 0 5px 6px -2px rgb(116, 116, 116);
}

#navbar-logo {
  width: 100px;
}
#navbar-ul {
  align-items: center;
  display: flex;
}
.navbar-li {
  margin: 1em;
  list-style-type: none;
}
.navbar-link {
  font-family: "Crimson Text", serif;
  color: #cce4e0;
  text-decoration: none;
  font-size: 1.3em;
}
.navbar-link:hover {
  color: #9dbeb9;
}

#calculator {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: 0 auto 1.5em;
  padding: 3em;
  border-radius: 5px;
  background: #c1d6d3;
}

#calculator-h1 {
  font-size: 2.5em;
  color: #194350;
  font-weight: bold;
}
#calculator-h1-p {
  font-size: 1.2em;
  margin-top: -5px;
  margin-bottom: 1em;
  font-weight: 600;
  color: #233e8b;
}
#calculator-input {
  margin-bottom: 1em;
}
table {
  width: 700px;
}
td {
  padding-bottom: 1em;
}
td label {
  font-size: 1.4em;
}
td input {
  font-size: 1.2em;
  font-family: "Crimson Text", serif;
  padding: 0.5em 1em;
  border-radius: 5px;
  border: solid 1px black;
  outline: none;
  width: 350px;
}

#calculate {
  cursor: pointer;
  width: 150px;
  padding: 0.5em 1em;
  margin-bottom: 1em;
  background: #194350;
  border: none;
  color: white;
  border-radius: 10px;
  font-size: 1.5em;
  font-family: "Crimson Text", serif;
}
#calculate:hover {
  background: #3a7e80;
}
.calculate-p {
  font-size: 1.5em;
}

#result {
  display: none;
}
.result-span {
  color: #02475e;
  font-weight: bold;
}
#summary {
  width: 80%;
  margin: 0 auto 1em;
  padding: 1.5em;
  font-family: "Crimson Text", serif;
  text-align: justify;
}
.summary-div {
  margin-bottom: 3em;
}
.summary-p-q {
  font-size: 2.2em;
  margin-bottom: 0.2em;
}
.summary-p-a {
  font-size: 1.2em;
}

/* #footer {
  width: 100%;
  text-align: center;
  background: #b8d0da;
  padding: 1em;
  font-family: "Crimson Text", serif;
  color: #194350;
} */

#about-us {
  /* font-family: "Crimson Text", serif; */
  display: flex;
  flex-flow: column;
  padding: 2em 3em;
  text-align: justify;
}

#about-us-h1 {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin: 0 auto 1em;
  padding: 0;
}

#about-us-p {
  font-size: 1.3em;
  margin-bottom: 3em;
}

#about-us-profile {
  display: flex;
  justify-content: space-evenly;
  /* width: 90%; */
  margin: auto;
}

.about-us-profile-div {
  display: flex;
  flex-flow: column;
  margin: 0 1.3em 2em;
  border-radius: 30px;
  padding: 1.5em 0;
  background: #f3f4ed;
}

.about-us-img {
  width: 266px;
  padding: 0.4em;
  border-radius: 50%;
  margin: auto;

  /* border: solid 0.5px black; */
  background: white;
}
.about-us-p {
  font-size: 1.4em;
  margin: 0.5em 0;
  text-align: center;
  color: #424642;
  font-weight: bold;
}
.about-us-p-des {
  margin-top: 0.5em;
  width: 80%;
  margin: auto;
  color: #536162;
}

/* investment-guide */
#investment-guide {
  width: 60%;
  margin: 2em auto;
  background: #a7c4bc;
  border-radius: 10px;
  padding: 1em 3em;
}
#investment-guide-table {
  display: flex;
  flex-flow: column;
}

.ig-row {
  display: flex;
  margin: 1em;
  font-size: 1.5em;
  justify-content: space-evenly;
}
.ig-data {
  display: flex;
  align-items: center;
}
.ig-data input {
  margin-right: 0.8em;
}
#investment-guide-btn {
  width: 140px;
  font-family: "Crimson Text", serif;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #2f5d62;
  color: white;
  font-size: 1.2em;
  padding: 0.6em 1em;
  margin: 1em auto;
}
#investment-guide-btn:hover {
  background: #2d423d;
}
#investment-guide-p {
  margin: 1.2em 1.2em 0;
  font-size: 1.3em;
  display: none;
}
#span-low,
#span-high {
  display: inline-block;
  margin-left: 0.8em;
  margin-bottom: 1em;
  color: #231e23;
}
.ig-link {
  color: #2940d3;
  margin-left: 10px;
  text-decoration: none;
}
/* Currnent market */
#current-market {
  display: flex;
  flex-flow: column;
  width: 80%;
  margin: auto;
}
#current-market-h1 {
  font-weight: normal;
  font-size: 2em;
  margin-bottom: 0.1em;
  text-align: center;
}
#current-market-h1-p {
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.3em;
}
#cm-table {
  width: 90%;
  margin: 0 auto 2em;
  border-collapse: collapse;
  border: solid 0.4px black;
  padding: 1em 2em;
}
#cm-table th {
  text-align: center;
  border: 1px solid gray;
  background: #232323;
  font-size: 1.4em;
  padding: 8px;
  color: #ffffff;
  font-weight: normal;
}
#cm-table td {
  border: 1px solid gray;
  font-size: 1em;
  padding: 0.5em;
  text-align: center;
}
#cm-table td:nth-child(1) {
  padding-left: 1em;
  text-align: left;
}
#cm-table tr:nth-child(even) {
  background-color: #f2f2f2;
}
#cm-table td:nth-child(2),
#cm-table td:nth-child(3),
#cm-table td:nth-child(4),
#cm-table td:nth-child(5),
#cm-table td:nth-child(6),
#cm-table td:nth-child(7) {
  text-align: center;
  font-size: 1em;
}

/* past retunr */
#past-return table {
  width: 70%;
  margin: auto;
  border-collapse: collapse;
}
#past-return table th {
  text-align: center;
  border: 1px solid #233e8b;
  background: #1eae98;
}
#past-return table td {
  border: 1px solid #233e8b;
  font-size: 1.3em;
  padding: 0.5em;
  text-align: center;
}
#past-return table tr:nth-child(even) {
  background: #a9f1df;
}
